
/* ----- Home/index css -------*/
#homeContainer {
    background-color: yellow;
    height: 480px;
    width:400px;
    margin: 0 auto;
    margin-top: 40px;

   
}

#mainFrame {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color:green;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    -webkit-box-shadow: 0 8px 6px -6px #777;
    -moz-box-shadow: 0 8px 6px -6px #777;
    box-shadow: 0 8px 6px -6px #777;  
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;

    
}

/* --- hide iframe scroll bar ----*/
::-webkit-scrollbar {
display: none;
}



/*---- innerHome layout ------*/
.w3-panel {
    background-color: white;
    border: 1px solid #777;
    width: 100%;
    margin-bottom: -5px;

}

.innermainContainer {
    width: 100%;
    min-height: 475px;
    background-color: #E9E1E2;
    padding-bottom: 10px;



}
        
.mdl-layout__tab-bar {
    background-color: pink;
}

.mdl-layout__tab {
    background-color: red;
    font-size: 15px;
}



/*--------css for nav --------------*/

.nav{
    border:1px solid #ccc;
    border-bottom-width:1px;
    list-style:none;
    text-align:center;
    background-color: #93BED7;
    width: 400px;
    height: 50px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.nav li{
    display:inline;
    margin: 0 auto;
}
.nav a{
    display:inline-block;
    padding:10px;
    color:white;
    text-decoration: none!important;
    font-weight: bold;
    font-size: 18px;
}

.nav a:hover{
    border-bottom: 1px solid white;
}

#navDesignHours {
    border-bottom: 2px solid white;
}

#app {
    background-image: url("logo/app logo.png");
    width:50px;
    height:50px;

}

#logo {
    border-bottom-width:1px;
    list-style:none;
    text-align:;
    background-color: #1272A7;
    height: 70px;
    width: 400px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin-bottom: 0px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

#logo li{
    display:inline;
    margin: 0 auto;
}
#logo a{
    display:inline-block;
    padding:10px;
    color:white;
    font-size:22px;
    text-decoration: none;
    margin-left: -9px;
    margin-top: -30px;
    padding-top:50px;
}

/*--------css for libraries--------------*/


#computer,#hours,#training {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;

}

#computer {
    margin-top: 75px;

}


/*-- CSS for back button --------*/
.backButton {
    background-image: url('../Images/backbutton.jpg');
    margin-left: 7px;

    width: 40px;
    height: 40px;
    cursor: pointer;
    float: left;
}

.backButton:hover{
    background-image: url('../Images/backbuttonHover.jpg');
}

#move{
    margin-left: 73%;

}




